<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>会员管理</title>
<!-- core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<link href="css/animate.min.css" rel="stylesheet" />
<link href="css/prettyPhoto.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<link rel="shortcut icon" href="images/ico/favicon.ico" />

<script src="js/jquery/2.0.0/jquery.min.js"></script>
<link href="css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" />
<script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/mousescroll.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom-scripts.js"></script>
<style>
#userpic {
	width: 100px;
}

div.col-xs-3 {
	text-align: center;
}
</style>

</head>
<body>
	<header id="header">
		<nav id="main-nav" class="navbar navbar-default navbar-fixed-top"
			role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/admin"><img
						src="images/logo.png" alt="logo" /></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="scroll"><a href="/admin">会员消费</a></li>
						<li class="scroll active"><a href="/userManage">会员管理</a></li>
						<li class="scroll"><a href="index.html #about">统计报表</a></li>
						<li class="scroll"><a href="index.html #team">商品设置</a></li>
						<li class="scroll"><a href="index.html #portfolio">成为教练</a></li>
						<li class="scroll"><a href="index.html #pricing">套餐项目</a></li>
					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
		<!--/nav-->
	</header>
	<!--/header-->

	<div style="height: 780px; border-top: 20px;">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 ">
					<a href="#" class="thumbnail"> <img
						src="http://how2j.cn/study/gareen.jpg" id="userpic"/>
					</a>
					<div class="caption">
						<div class="text-muted">德玛西亚之力</div>
						<br/>
					</div>
				</div>
				<div class="col-xs-3 ">
					<a href="#" class="thumbnail"> <img
						src="http://how2j.cn/study/annie.jpg" id="userpic"/>
					</a>
					<div class="caption">
						<div class="text-muted">黑暗之女</div>
						<br/>

					</div>
				</div>
				<div class="col-xs-3 ">
					<a href="#" class="thumbnail"> <img
						src="http://how2j.cn/study/teemo.jpg" id="userpic"/>
					</a>
					<div class="caption">
						<button class="btn btn-info" type="button" data-toggle="collapse"
							data-target="#lol" aria-expanded="false"
							aria-controls="collapseExample">迅捷斥候</button>
						<br />

					</div>
				</div>
				<div class="col-xs-3 ">
					<a href="#" class="thumbnail"> <img
						src="http://how2j.cn/study/katarina.jpg" id="userpic"/>
					</a>
					<div class="caption">
						<div class="text-muted">不详之刃</div>
						<br />

					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 会员展示信息 -->
	<div class="collapse" id="lol">
		<div class="well">《DotA》（Defense of the
			Ancients），可以译作守护古树、守护遗迹、远古遗迹守卫，
			是由暴雪公司出品即时战略游戏《魔兽争霸3》的一款多人即时对战、自定义地图，可支持10个人同时连线游戏，是暴雪公司官方认可的魔兽争霸的RPG地图。
		</div>
	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">Copyright &copy; 2019.Company name All
					rights reserved.</div>
				<div class="col-sm-6">
					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/#footer-->
</body>
</html>